body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root{
	overflow: hidden;
	position: relative;
	height: -webkit-fill-available;
	height: 100%;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background: transparent;
	background: var(--palette-black-alpha-20, rgba(0, 0, 0, 0.2));
	border-radius: 10px;
	background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-corner {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 12px;
	display: none;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}